/* Override CSS default settings */
*{ margin: 0; border: 0px; padding: 0px; box-sizing: border-box;}
a{ cursor: pointer; text-decoration: none; }
ul, li{ list-style: none; }
html, body{ height: 100%; }
font-family: 'Notable', sans-serif;

#container{
	display: none;
	position: relative;
	margin: auto; 
	width: 80%;
	text-align: center;	
}

#nav{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	font: 12px 'Narrow|Arvo', sans-serif;
}
#nav li{
	position: relative;
	padding: 15px;
	float: left;
	width: 25%;
	cursor: pointer;
	color: lightgray;
	text-align: center;
	background: rgba(50,50,75,0.7);
	transition: background 0.5s, color 0.5s;
}

#nav li:hover{
	color: white;
	background: rgba(50,50,75,0.9);
	transition: background 0.5s, color 0.5s;
}
#menu_sub, #cart_sub, #about_sub, #contact_sub{
	display: block;
	padding: 100px;
	position: relative;
	margin: auto;
	height: 50vh;
	width: 100%;
}


#main{
	position: relative;
	margin: auto; 
	width: 100%;
	text-align: center;
	font: 16px 'Narrow|Arvo', sans-serif;
}
	#content_1, #content_2 ,#content_3, #content_4{
		position: relative;
		float: left;
		margin: auto; 
		width: 100%;
		height: 100vh;
		color: rgba(100,100,100,1);
	}

	#content_1{
		background: url("assets/images/apple_2.jpg") no-repeat fixed;
		background-size: 100%;		
	}
		#header_1{
			padding: 25px;
			position: fixed;
			margin: auto; 
			text-align: left;
			top: 10vh;
			font: 36px 'Montserrat';
		}
		#header_2{
			padding: 25px;
			position: fixed;
			margin: auto; 
			text-align: right;
			top: 90vh;
			font: 18px 'Montserrat';
		}
		#buttons{
			position: relative;
			margin: 0% auto;
			float: left;
			left: 50%;
			transform: translateX(-50%);
			top: 45%;
			width: 70%;
		}
		.button{
			padding: 10px 70px;
			position: relative;
			margin: 0% 2%;
			float: left;
			width: 20%;
			color: lightgray;
			border: 1px solid lightgray;
			border-radius: 20px 20px 20px;
			background: rgba(10,10,50,0.8);
			transition: background 0.5s, border 0.5s, color 0.5s;
		}
		.button:hover{
			transition: background 0.5s, border 0.5s, color 0.5s;
			background: rgba(10,10,50,0.5);
			border: 1px solid white;
			color: white;
		}


	#content_2{
		background: url("assets/images/apple_keys_4.jpg") no-repeat fixed;
		background-size: cover;
	}


	.products{
		float: left;
		position: relative;
		display: block;
		margin: auto;
		width: 100%;
		height: 50%;
		top: 25vh;
		padding: 25px;
	}
		.item{
			float: left;
			padding: 25px;
			position: relative;
			display: block;
			margin: auto;
			width: 15%;
		}
		.item p{
			font: 50% sans-serif;
		}
		.item img{
			display: block;
			position: relative;
			margin: auto;
			width: 100%;
			cursor: pointer;
			filter: brightness(70%);
			transition: filter 1s;
		}
		.item img:hover{
			transition: filter 1s;
			filter: brightness(100%);
		}
			.add{
				display: block;
				padding: 5px 5px;
				position: relative;
				margin: auto;
				width: 50%;
				color: white;
				text-align: center;
				border: 1px solid gray;
				background: rgba(10,10,50,0.9);
				transition: background 0.5s, border 0.5s;
			}
			.add:hover{
				transition: background 0.5s, border 0.5s;
				border: 1px solid lightgray;
				background: rgba(1,1,50,0.5);
			}


	#content_3{
		position: relative;
		margin: auto;
		width: 100%;
		height: 100vh;
		background: url("assets/images/apple_6.jpg") no-repeat fixed;
		background-size: 100%;
	}
	#content_3 img{
		position: relative;
		top: 25%;
		width: 40%;
	}


#arrow_up{
	display: none;
	position: absolute;
	z-index: 10;
	width: 5%;
	top: 75px;
	left: 50%; 
	transform: translateX(-50%);
	cursor: pointer;
	filter: brightness(75%);
	transition: filter 0.5s;
}
#arrow_up:hover{
	transition: filter 0.2s;
	filter: brightness(100%);
}
#arrow_down{
	position: fixed;
	z-index: 10;
	width: 5%;
	bottom: 0;
	left: 50%; 
	transform: translateX(-50%);
	cursor: pointer;
	filter: brightness(75%);
	transition: filter 0.5s;
}	
#arrow_down:hover{
	transition: filter 0.2s;
	filter: brightness(100%);
}



#slideshow{
	position: relative;
	margin: auto;
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;
}
#image{
	position: relative;
	display: block;
	margin: auto;
	z-index: 2;
	height: 70%;
	top: 50%;
	cursor: pointer;
	box-shadow: none;
	transform: translateY(-50%);
	transition: box-shadow 1s, opacity 1s, height 0.5s, width 1s;
	opacity: 1;
}
#image:hover{
	transition: box-shadow 1s, opacity 1s, height 0.5s, width 1s;
	box-shadow: 10px 10px 10px black;
	height: 75%;
}
#image:hover ~ #controls{
	opacity: 1;
}
#controls{
	position: absolute;
	margin: auto;
	float: left;
	z-index: 2;
	width: 100%;
	height: 20%;
	top: 50%;
	cursor: pointer;
	text-align: center;
	color: white;
	font: 22px sans-serif;
	transform: translateY(-50%);
	background: rgba(20,20,20,0.7);
	transition: background 0.5s, opacity 1s;
	opacity: 0.5;
}
#controls:hover{
	transition: background 0.5s, opacity 1s;
	background: rgba(10,10,10,0.5);
	opacity: 1;
}
#prev, #next{
	position: absolute;
	margin: auto 25px;
	z-index: 10;
	top: 25%;
	width: 10%;
	height: 50%;
	cursor: pointer;
	background: rgba(30,30,30,0.7);
	box-shadow: none;
	border: 1px white;
	transition: background 1s, opacity 1s, box-shadow 1s, border 1s;
}
#prev{
	left: 0;
}
#next{
	right: 0;
}
#prev:hover, #next:hover{
	transition: background 1s, opacity 1s, box-shadow 1s, border 1s;
	box-shadow: 10px 10px 10px black;
	background: rgba(50,50,50,0.7);
	border: 1px white;
}
#prev img, #next img{
	position: relative;
	float: left;
	width: 50%;
	top: 50%;
	transform: translateY(-50%);        
}
#next img{
   float: right;
}

#gallery{
   position: absolute;
   margin: auto;
   float: left;
   z-index: 10;
   bottom: 0;
   width: 100%;
   height: 20%;
   cursor: pointer;
   background: rgba(10,10,10,0.5);
   transition: background 1s, opacity 1s, height 1s;
   opacity: 0.8;
}
#gallery:hover{
	background: rgba(20,20,20,0.9);
	transition: background 1s, opacity 1s, height 1s;
	opacity: 1;
	height: 22%;
}
#gallery img{
   position: relative;
   display: block;
   margin: 15px;
   float: left;
   height: 70%;
   filter: brightness(50%);
   box-shadow: none;
   transition: filter 1s, box-shadow 1s, height 1s;
}
#gallery img:hover{
   transition: filter 1s, box-shadow 1s, height 1s;
   box-shadow: 10px 10px 10px black;
   filter: brightness(100%);
   height: 75%;
}

#footer{
	position: relative;
	margin: 300px auto 0 auto;
	float: left;
	width: 100%;
	height: 33vh;
	background: rgba(10,10,10,0.7);
	transition: background 1s;
}
#footer:hover{
	transition: background 1s;
	background: rgba(10,10,10,0.8);
}
#footer p{
	padding: 50px 250px;
	position: relative;
	margin: auto;
	width: 33%;
	float: right;
	color: lightgray;
	cursor: pointer;
	font: 12px 'Narrow|Arvo', sans-serif;
	transition: color 1s;
}
#footer p:hover{
	transition: color 1s;
	color: white;
}



